<% flash.each do |key, value| %>
<% end %>

  <div class ="text-center bg-info float-middle text-white rounded">
    <h3 class="py-1" >"新しく困りごとを投稿する"</h3>
    <%= form_with model: [@problem], data: {remote: true} do |form| %>
        <table border="0" align="center" width="80%">
              <tr>
                <th class="problem_title"><%= form.label :title,"タイトル" %>
                <%= form.text_field :title , autofocus: true, id: "text" %></th>
                <th class="problem_image"><%= form.label :image,"写真" %>
                <%= form.file_field :image %></th>
              </tr>
        </table>

        <table border="0" align="center" width="85%" height="80">
          <tr>
            <th><%= form.label :title, "困り事種類:" %></th>
            <td><%= form.collection_check_boxes(:label_ids, Label.all, :id, :title) %></td>
          </tr>
       </table>

        <table border="0" align="center" width="70%">
              <tr>
                <th><%= form.label :content, "内容" %></th>
                <td><%= form.text_area :content, size: "80x3",class:'form_control',id:"content", rows: 50, placeholder: "コメントを書く"%></td>
              </tr>
        </table>

        <div class="submit pb-2">
          <%= form.submit "登録する", class:"button" %>
        </div>
</div>
        <% end %>

        <div class="py-4 text-body">
        <h2>困り事一覧</h2>
          <%= form_with(scope: :search, url: problems_path, local: true, method: :get) do |form| %>
            <%= form.label :title,'タイトル検索' %>
            <%= form.text_field :title, value: @search_params[:title] %>
            <%= form.submit 'Search'  %>
          <% end %>
        <div class ="pt-2">
          <%= form_with(url: problems_path, local: true, method: :get) do |form| %>
            <%= form.label :title,'困り事種類別検索' %>
            <%= form.select("label_id", Label.pluck(:title, :id),{ include_blank: "ラベルを選択する" }) %>
            <%= form.submit 'Search1' ,class:"Search1" %>
          <% end %>
        </div>



          <div class = "float-right">
            <%= paginate @problems %>
          </div>
        </div>

        <tbody class="bg-light" id="problem">
            <%= render 'problems/new', problems: @problems %>
        </tbody>
        <div class = "float-right">
          <%= paginate @problems %>
        </div>
        <br>
