<% flash.each do |key, value| %>
  <div class="alert <%= bootstrap_class_for(key) %>" ><%= value %></div>
<% end %>

    <div class="timeline">
        <div class="link_to_new">
          <%= link_to "新しく困りごとを投稿する", new_problem_path %>
        </div>
        <h3>困り事一覧</h3>
        <div>
          <%= form_with(scope: :search,url:problems_path,local: true, method: :get) do |form| %>
            <%= form.label :title,'タイトル検索' %>
            <%= form.text_field :title, value: params[:title] %>
            <%= form.submit 'Search' %>
          <% end %>
          <%= form_with(url:problems_path,local: true, method: :get) do |form| %>
            <%= form.label :title,'ラベル検索' %>
            <%= form.select("label_id", Label.pluck(:title, :id), { include_blank: "ラベルを選択する" }) %>
            <%= form.submit 'Search' %>
          <% end %>
        </div>
    <div class="alert alert-warning">
       <tbody>
          <% @problems.each do |problem| %>

          <div class="py-3 text-body">
          <tr>
             <td><strong>タイトル：<%= problem.title %></strong></td>
             <td>
               <div class="problem_image">
                 <% if problem.image.present? %>
                   <%= image_tag problem.image.url, width: '30%', height: '30%' %>
                 <% else %>
                   <%= image_tag("noimage.png", :size => "50x50") %>
                 <% end %>
               </div>
            </td>
             <td>内容：<%= problem.content %></td>
             <p>解決できるかも！(件数：<%= problem.liked_users.count %>)</p>
             <td><%= link_to "#{problem.user.name}のページ", user_path(problem.user.id),class:"btn btn-secondary btn-sm" %></td>

             <div class="mx-5" role="toolbar">
               <td><%= link_to '詳細を確認する', problem_path(problem.id),class:"btn btn-primary" %></td>
             </div>
          </tr>
          <% end %>
          </div>
        </tbody>
    </div>
</div>
