<h4 class="text-center">困りごと詳細ページ</h4><br>
<div class = "text-center bg-light">
  <div class ="border-bottom">
    <div class ="border-top">
      <h5 class="py-2">タイトル: <%= @problem.title %></h5>
      <p>画像：
        <% if @problem.image.present? %>
          <%= image_tag @problem.image.url, width: '50%', height: '50%' %>
        <% else %>
          <%= image_tag("noimage.png", :size => "100x100") %>
        <% end %>
      </p>
      <p>困り事種類:
         <% @problem.labels.each do |label| %>
           <%= label.title %>,
         <% end %>
      </p>
      <%= link_to ":#{@problem.user.name}のページ", user_path(@problem.user.id), class:"btn btn-secondary btn-sm fa fa-user" %>

      <p>内容: <%= @problem.content %></p>
    </div>
  </div>
  <% if user_signed_in? %>
    <p>『解決できるかも！』件数: <%= @problem.likes.count %></p>
      <% if current_user.already_liked?(@problem) %>
        <%= link_to '解決できるかも！を取り消す', problem_like_path(@problem),class:"fa fa-hand-rock-o btn btn-warning", method: :delete %>
      <% else %>
        <%= link_to '解決できるかも！', problem_likes_path(@problem),class:"fa fa-hand-paper-o btn btn-warning", method: :post %>
      <% end %>
   <p>『解決できるかも！』したユーザー</p>
    <% @problem.liked_users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  <% else %>
    <p>『解決できるかも！』したユーザー</p>
    <% @problem.liked_users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  <% end %>
  <div class = "text-center bg-light mt-5 border-top">
    <br>
    <h5>困り事：『<%=@problem.title%>』のコメント</h5>
    <br>
    <li id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </li>
  </div>
  <br>
  <% if user_signed_in? %>
    <div class="comment-create">
      <i class="fa fa-comments" aria-hidden="true">コメントを投稿する</i>
      
      <%= render partial: 'comments/form', locals: { comment: @comment, problem: @problem } %>
    </div>
  <% end %><br>
</div>
<div class = "text-center">
  <% if @problem.user == current_user %>
    <%= link_to '困りごとの編集', edit_problem_path(@problem.id), class: "btn btn-success fa fa-pencil" %>
    <%= link_to '困りごとの消去', problem_path(@problem.id), method: :delete, data: { confirm: '本当に消去しますか?' }, class: "btn btn-danger fa fa-trash" %>
  <% else %>
    <%= link_to '投稿一覧画面に戻る', problems_path, class: "btn btn-primary" %>
  <% end %>
</div>
