
<h1>困りごと詳細</h1>
<p>タイトル: <%= @problem.title %></p>
<p>画像：
  <% if @problem.image.present? %>
      <%= image_tag @problem.image.url, width: '50%', height: '50%' %>
  <% else %>
    <%= image_tag("noimage.png", :size => "100x100") %>
  <% end %>
</p>

<p>内容: <%= @problem.content %></p>

<%= link_to '困りごとの編集', edit_problem_path(@problem.id), class:"btn btn-success" %>

<%= link_to 'タスク一覧画面に戻る', problems_path, class: "btn btn-primary" %>
