<% content_for :h1 do %>
  <h1>新規アカウントを作成</h1>
<% end %>
  <div class="clearfix profile_bar">
    <div class="profile_name"><%= @user.name %>のページ


      <% if @user.id != current_user.id %>
         <span class="glyphicon glyphicon-wrench" aria-hidden="true"><%= render 'follow_form' %></span>
      <% end %>



      <div class="profile_icon">
        <% if @user.image? %>
         <p><%= image_tag(@user.image.url, :size => "50x50") %></p>
        <% else %>
         <p><%= image_tag("default.png", :size => "50x50") %></p>
        <% end %>
      </div>
    </div>
  </div>

<div class="profile_content">
  <table>
    <tr>
      <th>メールアドレス:</th><td><%= @user.email %></td>
    </tr>
    <tr>
      <th>性別:</th><td><%= gender_view(@user.gender) %></td>
    </tr>
    <tr>
      <th>住所<br>都道府県:</th><td><%= @user.prefecture %></td>
    </tr>
    <tr>
      <th>市区町村:</th><td><%= @user.city %></td>
    </tr>
    <tr>
      <th>職業:</th><td><%= @user.profession %></td>
    </tr>
    <tr>
      <th>職種:</th><td><%= @user.occupation %></td>
    </tr>
    <tr>
      <th>自己紹介文:</th><td><%= @user.profile %></td>
    </tr>
  </table>
</div>
<% if @user.id == current_user.id %>
   <%= link_to edit_user_registration_path(current_user.id) do %>
       <div class= " edit btn btn-primary" ><span class="glyphicon glyphicon-wrench" aria-hidden="true">プロフィールを編集する</span></div>
   <% end %>
<% end %>

<h2>投稿内容</h2>
<% @user.problems.each do |problem| %>
  <a href="/problems/<%= problem.id %>"></a>
  <hr>
<% end %>
<h3>『解決できるかも！』している投稿</h3>
<% @user.liked_problems.each do |problem| %>
  <%= problem.user.email %>
  <%= problem.content %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "投稿一覧画面へ", problems_path, class:'btn btn-warning' %>
<% else %>
  <%= link_to "ログインする", new_session_path %>
<% end %>
