<% flash.each do |key, value| %>
<% end %>
<div class="py-4 text-body">
  <h2><strong>困りごとアプリとは？</strong></h2>
  <p>
    困りごとを持つ人々・その困りごとを解決できる人々をマッチングするWEBアプリケーションです。<br>
    ユーザー登録・ログインをすると困りごとの投稿ができます。
  </p>
  <br>
  <p>~ユーザー登録の方はこちら~<p><%= link_to "新規登録", new_user_registration_path,{class: "pr-2"} %>
  <br>
  <br>
  <p>~登録済みユーザー、もしくは、Facebook、Googleアカウントでログインする場合はこちら~</p><%= link_to "ログイン", new_user_session_path %>
</div>
<div class="py-4 text-body">
  <h2><strong>困りごと一覧</strong></h2>
  <div class = "float-right">
    <%= paginate (@problems) %>
  </div>
</div>

<tbody class="bg-light" id="problem">
  <%= render 'problems/index', problems: @problems %>
</tbody>
<div class = "float-right">
  <%= paginate (@problems) %>
</div>
<br>
