<!DOCTYPE html>
<html>
  <head>
    <title>ProblemApp</title>
    <div class="mx-auto text-center alert alert-warning text-dark" style="width: 80%;">
      <h1>ProblemApp</h1>
    </div>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "users/shared/links" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if Rails.env.production? %>
  </head>
  <body>
    <div class="mx-auto">
    <div class ="text-center text-danger">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
      <div class="wrapper">
          <div class="title_parent">
            <div class="title_child">
              <%= yield %>
            </div>
          </div>
       </div>
        <footer>
          <div class ="mx-auto text-center alert alert-warning text-dark" style="width: 80%;">
            <p>運営会社・・・・株式会社</p>
            <p>© 2020 Copyright ・・・・ Corp.</p>
          </div>
        </footer>
    </div>
  </body>
</html>
