<div class ="text-center">
  <p>パスワードを忘れた場合は、下記にメールアドレスを記入し、ボタンを押して下さい</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "メールアドレス宛にパスワードのリセット案内を希望する" %>
    </div>
  <% end %>
<br>
<br>
</div>