<!DOCTYPE html>
<html>
  <head>
    <title>ProblemApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
          <header>
          </header>

        <div class="content">
          <div class="title_parent">
            <div class="title_child">
              <%= yield%>
            </div>
          </div>
        <%= yield :error %>
 
    </div>
  </body>
</html>
