<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>ProblemApp</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>

    <div class = "alert alert-success">
      <h2>ProblemApp</h2>
        <% if user_signed_in? %>
          <%= link_to "Profile", user_path(current_user.id), {class: "profile"} %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete%>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, {class: "signup"} %>
          <%= link_to "Login", new_user_session_path, {class: "loginin"} %>
        <% end %>
    </div>
     <!-- </div> -->
  </header>
  <body>
    <div class="wrapper">
      <% flash.each do |key, value| %>
        <div class="alert <%= bootstrap_class_for(key) %>" ><%= value %></div>
      <% end %>

        <div class="content">
          <div class="title_parent">
            <div class="title_child">
              <%= yield %>
            </div>
          </div>
        <%= yield :error %>

       </div>
        <footer>
          <div class ="footer_container">
            <p>運営会社・・・・株式会社</p>
            <p>© 2020 Copyright ・・・・ Corp.</p>
          </div>
        </footer>
    </div>
  </body>

</html>
