<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ProblemApp</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <div class="mx-auto" style="width: 80%;">
      <div class = "alert alert-warning text-dark">
      <h1 class ="text-center text-dark">困り事アプリ</h1>
      <p class ="text-center">~皆さんのお困りごとを解決できるアプリです。困りごと・解決したいことを全国の皆さんに解決してもらいましょう！~</p>
       <div class = "text-right">
            <% if user_signed_in? %>
              <%= link_to "Home", problems_path, {class: "home pr-2"} %>
              <%= link_to "Profile", user_path(current_user.id), {class: "profile pr-2"} %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% else %>
              <p>ゲストユーザーとして閲覧中</p>
              <%= link_to "新規登録", new_user_registration_path,{class: "pr-2"} %>
              <%= link_to "ログイン", new_user_session_path %>
            <% end %>
      </div>
     </div>
    </div>
  </header>

  <body>
    <div class="mx-auto" style="width: 80%;" >
      <% flash.each do |key, value| %>
        <div class="alert <%= bootstrap_class_for(key) %>"><%= value %></div>
      <% end %>
      <div class ="alert alert-light">
        <div class="content">
          <div class="title_parent pb-2">
            <div class="title_child">
              <%= yield %>
            </div>
          </div>
        <%= yield :error %>

       </div>
      </div>
        <footer>
          <div class ="pt-2 border-top text-left">
            <% if user_signed_in? %>
              <%= link_to '新規投稿する', new_problem_path %><br>
              <%= link_to "投稿一覧画面へ", problems_path %>
            <% else %>
              <%= link_to "ログインする", new_user_session_path %>
            <% end %>
          </div>
          <div class="link_to_new text-left">
            <%= link_to "Back", :back %>
          </div>
          <div class = "text-dark">
          <p class="text-body text-right" id="smooth-scroll">TOPへ"クリック"</p>
            <div class ="alert alert-warning text-center text-dark">
              <p>運営会社・・・・株式会社</p>
              <p>© 2020 Copyright ・・・・ Corp.</p>
            </div>
          </div>
        </footer>
    </div>
  </body>
</html>
